@media(max-width:320px){
    nav{
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }

    nav .derecha{
        left: 0vw;
        margin: 10px 0;
    } 

    .hero .caja1, .hero .caja2{
        display: none;
    }
    
    .hero{
        background: var(--primary-color);
    }

    .hero img{
        width: 100%;
        border-radius: 10px;
    }

    .cajas-servicios{
        flex-direction: column;
    }

    .descripcion img{
        display: none;
    }
    
    .subtitulo{
        padding: 0 10%;
    }

    .texto p{
        text-align: left;
    }

    .habilidades{
        flex-wrap: wrap;
    }

    .habilidades h2{
        font-size: 1em;
    }

    .proyectos .botones{
        flex-wrap: wrap;
    }

    .proyectos .proyec{
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .contacto .bot-enviar{
        margin-right: 20px;
    }

    footer{
        flex-direction: column;
    }
}

@media(max-width:480px){
    nav{
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }

    nav .derecha{
        left: 0vw;
        margin: 10px 0;
    }

    .hero{
        background: var(--primary-color);
    }

    .cajas-servicios{
        flex-direction: column;
    }

    .hero .caja1, .hero .caja2{
        display: none;
    }

    .descripcion img{
        display: none;
    }
    
    .habilidades{
        flex-wrap: wrap;
    }

    .todos img{
        width: 18vw;
    }
    
    .proyectos .botones{
        flex-wrap: wrap;
    }

    .proyectos .proyec{
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .bot-enviar{
        left: 29vw;
    }

    footer{
        flex-direction: column;
    }

    .cont-contacto{
        flex-direction: column;
    }

}

@media(max-width:768px){
    nav{
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }

    nav .centro{
        padding: 5px;
    }

    nav .derecha{
        left: 0vw;
        margin: 20px 0 10px 0;
    }

    .hero .caja1, .hero .caja2{
        display: none;
    }

    .hero {
        background: linear-gradient(to bottom, rgb(93 23 191/1), rgb(93 23 191/.7))
    }
}



@media(max-width:1024px){

}


@media(max-width:1280px){

}



@media(max-width:1440px){

}



@media(max-width:1920px){

}