@media(max-width:320px){
    nav{
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }
    
    nav .centro{
        padding: 5px;
    }

    nav .derecha{
        left: 0vw;
        margin: 15px 0 0 0;
    } 
    
    .hero {
        background: linear-gradient(to bottom, rgb(93 23 191/1), rgb(93 23 191/.7))
    }

    .hero img{
        width: 100%;
        border-radius: 10px;
    }

    .cajas-servicios{
        flex-direction: column;
    }

    .descripcion img{
        display: none;
    }
    
    .subtitulo{
        padding: 0 10%;
    }

    .texto p{
        text-align: left;
    }

    .texto a{
        font-size: .8em;
    }

    .habilidades{
        flex-wrap: wrap;
    }

    .habilidades h2{
        font-size: 1em;
    }

    .todos img{
        width: 15vw;
    }

    .proyectos .botones{
        flex-wrap: wrap;
    }

    .proyectos .proyec{
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .contacto .bot-enviar{
        margin-right: 20px;
    }

    footer{
        flex-direction: column;
    }

    .cont-contacto{
        text-align: center;
    }
}

@media(min-width:321px) and (max-width:480px){
    nav{
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }

    nav .derecha{
        left: 0vw;
        margin: 10px 0;
    }

    .hero {
        background: linear-gradient(to bottom, rgb(93 23 191/1), rgb(93 23 191/.7))
    }

    .cajas-servicios{
        flex-direction: column;
    }


    .descripcion img{
        display: none;
    }
    
    .habilidades{
        flex-wrap: wrap;
    }

    .todos img{
        width: 18vw;
    }
    
    .proyectos .botones{
        flex-wrap: wrap;
    }

    .proyectos .proyec{
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .bot-enviar{
        left: 29vw;
    }

    footer{
        flex-direction: column;
    }

    .cont-contacto{
        flex-direction: column;
    }

}

@media(min-width:481px) and (max-width:768px){
    nav{
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }

    nav .centro{
        padding: 5px;
    }

    nav .derecha{
        left: 0vw;
        margin: 20px 0 10px 0;
    }

    .hero {
        background: linear-gradient(to bottom, rgb(93 23 191/1), rgb(93 23 191/.7))
    }

    .serv p{
        margin: 0;
        padding: 5px;
    }

    .descripcion img{
        display: none;
    }

    .todos h2{
        font-size: 1em;
    }

    footer{
        flex-wrap: wrap;
    }

    .cont-serv{
        text-align: center;
    }

    .cont-contacto div{
        margin: 0 20px;
    }

}



@media(min-width:769px) and (max-width:1024px){
    nav .derecha{
        left: 3vw;
    }

    .hero{
        background-position: center;
        background-repeat: no-repeat;
    }


    .cont-contacto{
        flex: 2;
        text-align: center;
    }

}


@media (min-width:1025px) and (max-width:1280px){

    nav .derecha{
        left: 11vw;
    }

    .hero{
        background-position: center;
    }
    
    .bot-enviar{
        left: 32vw;
    }
}



@media(min-width:1025px) and (max-width:1440px){

    .bot-enviar{
        right: 3em;
    }
}



@media(min-width:1441px) and (max-width:1920px){

    nav .derecha{
        left: 21vw;
    }

    .hero{
        background-position: center;
        background-repeat: no-repeat;
    }

    .bot-enviar{
        left: 33vw;
    }

    .cont-contacto{
        flex-direction: column;
        text-align: center;
    }
}