@font-face {

    font-family: helvetica-neue;
    
    src: url(../fonts/HelveticaNeueBoldCondensed.ttf)
    
    }

:root{
    --primary-color: #5d17bf;
    --font-color: #ACA4B4;
    --font-white: #fcfcfc;
}

*{
    font-family: helvetica-neue;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--font-white);
}


/* COMIENZA LA PERSONALIZACION DEL HEADER */
header{
    display: flex;
    align-items: center;
    width: 85vw;
    padding: .5em;
    border-radius: 20px;
    margin: 1.5em 0;
    background-color: var(--primary-color);
    
}

nav{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.2em;
}
nav .centro{ 
    /* position: relative;
    top: 0;
    left: 25%; */
    margin: 0 1.3em;
    transition: .3s text-decoration-line, .3s color;
}

nav .centro:hover{
    color: var(--font-white);
    /* text-decoration-line: underline; */
    border-bottom: 2px solid var(--font-white);
    padding-bottom: 5px;
}
nav .derecha{
    background-color: #fcfcfc;
    color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: 0;
    left: 18%;
    transition: .3s border;
}

nav .derecha:hover{
    border: 1.5px solid black;
}

header img{
    position: relative;
    left: 10px;
}
/* FINALIZA LA PERSONALIZACION DEL HEADER */

/* INICIA LA PERSONALIZACION DEL HERO */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 85vw;
    padding: .5em .5em 0 .5em;
    background: linear-gradient(to bottom, rgb(93 23 191/1), rgb(93 23 191/.7)),url("../img/texto-fondo2.png");
}

.hero h1{
    text-align: center;
    font-size: 3.5em;
    color: var(--font-white);
    margin: 0.5em 0;
}

.hero span{
    color: #f2b807;
}

.redes{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.redes a{
    margin: 0 .5em;
    padding: 10px;
    border-radius: 50%;
    background-color: #7a35c4;
    color: var(--font-color);
}

.hero img{
    margin: 1em 0 0 0;
    filter: drop-shadow(0 0 .75rem var(--font-white));
}

.hero .caja1{
    text-align: center;
    color: var(--font-white);
    width: 8vw;
    height: 8vh;
    font-size: 1.3em;
    line-height: 120%;
    padding: 1em;
    background: #8647c9;
    border-radius: 10px;
    box-shadow: -1px -1px 1px var(--font-white);
    rotate: 345deg;
    position: absolute;
    bottom: 0;
    left: 20vw;
}

.hero .caja2{
    text-align: center;
    color: var(--font-white);
    width: 8vw;
    height: 8vh;
    font-size: 1.3em;
    line-height: 120%;
    padding: 1em;
    background: #8647c9;
    border-radius: 10px;
    box-shadow: -1px -1px 1px var(--font-white);
    rotate: 15deg;
    position: absolute;
    bottom: 35vh;
    right: 20vw;
    
}
/* FIN DEL HERO */


/* INICIO DE SERVICES */
.servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 85vw;
    padding: .5em;
    margin: 10em 7em 0;
}

.servicios h2{
    font-size: 2.5em ;
    width: 100vw;
    margin: 0;
}

.servicios p{
    color: var(--font-color);
    font-size: 1.2em;
}

.cajas-servicios{
    display: flex;
    justify-content: space-between;
}


.serv{
    flex: 1;
    height: 30vh;
    padding: 2em;
    margin: 2em;
    border-radius: 15px;
    transition: .5s background-color, .5s box-shadow, .5s color;
}

.serv i{
    font-size: 2.5em;
}
 
.serv h3{
   margin: 1.5em 0 0;
   font-size: 1.5em;
}

.serv:hover{
    background-color: var(--primary-color);
    box-shadow: 0 0 .5em black;
    color: var(--font-white);

}


